body {
  background-color: #eee;
  font-family: monospace;
  font-size: 14px;
  margin: auto;
  width: 600px;
  padding-top: 20px;
}

table {
  background-color: #fff;
  font-family: monospace;
  font-size: 14px;
  width: 100%;
}

select,
input[type="number"] {
  box-sizing: border-box;
  width: 100%;
}

h2 {
  text-align: center;
}
